body {
  background-image: url(assets/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(15px);
  width: 100vw;
  padding: 10px 0px;
}

.clock {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-shadow: 3px 3px 5px rgb(77, 69, 69);
}